@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /*************PROVIDER PROFILE START************/
    .pro-data input {
    position: absolute;
    width: 203px;
    right: 125px;
    top: 2px;
    height: 40px;
}
.pro-data select {
    position: absolute;
    width: 203px;
    right: 125px;
    top: 2px;
    height: 40px;
}
.textarea-box {
    top: 308px;
}
  /*************PROVIDER PROFILE END************/

.toggle-btn {
    display: block;
}
.resposive .dashboard-right-area {
    width: calc(100% - 63px);
    left: 77px;
}
.num-img {
    position: absolute;
    right: 0;
    top: -7px;
}
.value-box img {
    width: 25%;
    margin-right: 11px;
}
.value-box h5 {
    font-size: 18px;
    margin-bottom: 2px;
}
.value-box {
    padding: 12px 12px;
}
.dashboard-left-area.bg-gray {
    width: 0px;
}
.dashboard-right-area {
    width: calc(100% - -3px);
        left: 0;
}
.register-form {
    max-width: 90%;
}
form {
    padding: 20px;
}
.small-box {
    max-width: 71%
}
.profile-image {
    padding-left: 4px;
 }
 .upload-icon {
    position: relative;
    right: -116px;
    top: -35px;
}
.profile-image p {
    padding-top: 0;
    text-align: center;
}
.round-img {
    width: 55px;
    margin-right: 3px;
    margin-left: 6px;
}

.first-box img {
    margin-right: 2px;
    width: 52%;
    margin-bottom: 5px;
}
.first-box {
   
    line-height: 19px;
    font-size: 13px;
}
.layou-search input {
    width: 79%;
}
.layou-calen h6 {
    font-size: 10px;
}
.chat-box {
    padding: 0px 30px !important;
}
.header-bud li {
    margin-left: 6px;
        font-size: 15px;
}
.messages-box .rounded-circle {
   
    height: 41px;
    width: 42px;
    margin-right: 6px;
}
.messages-box h6.mb-0 {
    font-size: 14px;
}
.indox-wrap .layou-search input {
    width: 85%;
}
.bin-img {
    height: 16px;
    width: 15px;
}
.messages-box p {
    font-size: 12px;
    line-height: 16px;
}

.box-chat-detail {
    height: 100vh;
}
.divider .intro-para {
    padding-right: 0px;
 }
 /************** SERVICES A REQUEST SATART*****************/
 .modal-dialog {
     max-width: 680px !important;
 }
 .to-img {
     right: -163px !important;
 }
 .time-slot img {
     right: 174px;
 }
 .eye-place .eye-img {
    bottom: 165px;
}
.coneye-img {
    position: absolute;
    bottom: 165px;
    right: 55%;
} 
.provider-footer p {
    font-size: 13px;
}
.therapist-profile .detail-box {
    padding: 80px 0px 80px 30px !important;
}

/*********Provider detail popup************/

.btn-int a {
  
    padding: 5% 24%;
}
 .responsive-table {
        overflow-x: scroll;
    }
    .home .about-area {
        background-position: initial !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }
    .home .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:after {
        right: 88%;
    }
    .home .newsletter-area input {
        /* border: none; */
        height: 61px;
    }
    .home .navbar-nav ah1 {
        font-size: 29px;
    }
    .home .menu-sec{
        display: none !important;
    }
    .home .newsletter-area {
        padding: 30px;
        max-width: 84%;
    }
    .home .newsletter-area h3 {
        font-size: 38px;
            margin-bottom: 25px;
    }
    .home .footer-widget .logo img {
        width: 88%;
    }
    .home .footer-widget a {
        font-size: 13px;
    }
    .home .footer-widget h6 {
        margin-bottom: 14px;
        font-size: 16px;
    }
    .home .nav-right-part {
        background-color: #000;
        width: 100%;
        margin: 0;
    }
    .home .navbar-nav.menu-open {
        padding: 20px;
    }
    .home .current-menu-item.menu-item-has-children {
        margin-left: 0;
    }
    .home .nav-right-part .btn {
        font-size: 13px;
        padding: 0 10px;
      }
    
      .home .responsive-mobile-menu {
        
        top: -13px;
      }

      /********SEARCH PROFILE START*******/
      .profile-search {
        margin: 0 auto;
        max-width: 90%;
            margin-bottom: 80px;
    }
    .profile-search .therapist-pro {
    width: 67%;
}
.intro-profile img {
    width: 29%;
}
.profile-search .therapist-pro h3 {
    color: #1E1E1E;
    font-size: 20px;
}
.profile-search .therapist-pro span {
    color: #606060;
    font-size: 15px;
}
.profile-review {
    padding: 0px 0px 4px 0px;
}
.profile-search button.btn.btn-menu {
    padding: 0px 33px;
}
.right-profile .img-profile img {
    width: 28%;
}
.left-profile {
    padding-right: 20px;
}
.review-box {
    color: #656565;
    width: 55%;
}
.btn-load a {
    width: 21%;
}
    /********SEARCH PROFILE END*******/

      /************* SEARCH PROVIDER START******************/
      /*.search-boxs form {
            padding: 10px 20px;
            box-shadow: inherit !important;
            margin: 0;
            border: none;
            width: 100% !important;
            height: 45px;
        }*/
        .search-boxs input {
    border: none;
    max-width: 184px;
}
.search-boxs .mb-2 {
    margin-bottom: 0px !important;
}
.search-boxs .mt-2 {
    margin-top: 0px !important;
}
       .detail-search {
        padding: 20px 20px;
    }
   .img-pro {
        width: 50%;
    }
    .search-content p {
        padding-right: 0;
    }
   .detail-search .btn-menu {
        padding: 10px 16px;
        line-height: 47px;
        font-size: 13px;
    }
    .search-btn {
        width: 80%;
    }
  .search-boxs select#inputGroupSelect04 {
        width: 30%;
    }
    .search-area .input-group {
        height: 46px !important;
    }
    .search-wrap {
        margin-top: 21px;
    }
 .search-boxs {
        margin-bottom: 30px;
    }
   .search-content ul {
        margin: 6px 0px;
    }
   .search-content img {
        width: 23%;
        margin-top: 3px;
    }
     .tick-img {
        margin-top: -3px;
    }
    /* *******ERROR PAGE********** */
    .home .error-section img {
        width: 100%;
    }
    .home .error-section p {
    
        max-width: 100%;
    }
    .home .home-footer {
        padding-top: 60px !IMPORTANT;
    }

}


@media only screen and (max-width: 767px) {
     /*************PROVIDER PROFILE START************/
    .icon-edit a {
    display: inline-block;
    padding-right: 1px;
}
.icon-edit {
    width: 72px;
}
.pro-data input {
    width: 141px;
    right: 78px;
    top: -2px;
    height: 33px;
}
.pro-data select {
    width: 141px;
    right: 78px;
    top: -2px;
    height: 33px;
}
.icon-edit i {
    color: #52122c;
    border-radius: 30px;
    box-shadow: 0px 10px 30px #0000001a;
    padding: 8px;
    font-size: 12px;
}
.textarea-box {     
    top: 314px;
}
.box-pro input {
    width: 170px;
    right: 72px;
    top: 24px;
}
  /*************PROVIDER PROFILE END************/

   .center-box .search-boxs form {
    height: 180px;
    padding: 20px;
}
.center-box .search-boxs input {
    border: 1px solid #bfbbb9;
     max-width: 292px !important;
}
.center-box .col-auto.px-0.mb-2.mt-2 {
    border: 1px solid #bfbbb9;
    height: 49px;
    padding: 0;
    width: 292px;
    border-top: 0;
    /*margin-left: 12px;*/
    margin-bottom: 9px !important;
}
.center-box input#code {
    width: 79% !important;
}
.center-box .col-auto {
    padding: 0;
}
/*.center-box .banner-form button.btn.btn-outline-secondary {
    margin-left: 12px !important;
}*/


    .dashboard-left-area.bg-gray {
    width: 370px;
}
.dashboard-right-area {
    position: absolute;
    width: calc(100% - 377px);
}
    #provider-profile .detail-box {
    padding: 50px 30px 80px 30px;
}
.pro-data h3 {
    width: 166px !important;
    font-size: 13px !important;
}
.pro-data p {
    font-size: 13px;
}
    .provider-footer p {
        font-size: 13px;
    }
    .home .about-area {
        background-position: initial;
        background-repeat: no-repeat;
        background-size: contain;
    }
.eye-img {
        right: 43px;
        margin-top: -28px !important;
}
.eye-place .eye-img {
    margin-top: -28px !important;
}
.coneye-img {
    position: absolute;
    margin-top: -28px !important;
    right: 13%;
}

.toggle-btn {
    display: block;
}
.resposive .dashboard-left-area.bg-gray {
    width: 0px;
}
.resposive .dashboard-right-area {
    width: calc(100% - 0px);
    left: 0;
}
.num-img {
    position: absolute;
    right: -4px;
    top: -5px;
}
.middle-bar h2 {
    top: 0;
}
/********PROVIDER DASHBOARD START***********/
#provider-dash .value {
    display: block;
}
#provider-dash .value-box {
   margin-right: 0;
    margin-bottom: 31px;
}
#provider-dash .btn-pro {
    float: none;
    margin-top: 20px;
}
.provider-footer li {
    float: none;
}
.img-profile img {
    margin-right: 0;
    margin-bottom: 10px;
}
.profile-image {
    padding-left: 50px;
    position: relative;
    padding-top: 30px;
}
.bio-para p {
    padding: 0;
}
.round-img {
    width: 20%;
}

/********PROVIDER DASHBOARD END***********/

/********PROVIDER DASHBOARD Detail START***********/

.btn-int-m {
 
    margin-left: 0;
}
.btn-int a {
   
    padding: 5% 24%;
}
.view-inner .col-4 {
    width: 49.333333%;
}

/********PROVIDER DASHBOARD Detail END***********/

.register-form {
    margin: 0 auto !important;
    max-width: 100%;
}
.massage .form-select {
    width: 100%;
}
.small-box {
    margin: 0 auto !important;
    max-width: 93%;
}
.box-wrap {
    padding: 30px;
    margin-top: 16%;

}
.small-box form {
    padding: 30px;

}
.box-top {
    padding: 14px 12px 0px 14px;
}
.frogot-pass {
    float: left;
    padding-bottom: 30px;
}
.hed-pro h2 {
    font-size: 16px;
     margin: 0px;
    position: relative;
    
}
input#code {
    width: 60% !important;
    height: 45px !important;
    padding: 10px !important;
}
.confirmation-inner .btn.btn-primary {
    width: 91%;
    background: transparent linear-gradient( 
270deg
 , #D0A64C 0%, #BF922C 100%) 0% 0% no-repeat padding-box;
    margin: 0 auto;
    max-width: 300px;
    margin-right: 17px;
    margin-top: 26px;
}
.confirmation-inner input {
    width: 46px;
}
.divider .intro-para {
    padding-right: 0px;
}
.title-head li {
    margin-right: 20px;
}
.header-bud {
    justify-content: normal;
    margin-top: 20px;
}
.header-bud li {
    margin-left: 0;
}
.num-green {
    padding-left: 15px;
}
.customer-requested .indox-wrap .chat-box {
    padding: 20px 20px 0px 34px !important;
}
.request-box-text {
    width: 100% !important;
    margin-top: 45px;
}
.indox-wrap form {
    margin-top: 0;
    padding: 3px 10px 0px 10px;
}
.indox-wrap .layou-search input {
    width: 89%;
}

/*********SERVICES A REQUEST**************/
.disc-para span {
    padding-right: 0;
}
.to-img {
    right: -189px !important;
}
.time-slot img {
    right: 187px;
}
.middle-bar h2 {
    top: 0;
}
 /***************SERACH PROFILE********************/
        .profile-search {
    margin: 0 auto;
    max-width: 93%;
        padding: 50px 20px;
        margin-bottom: 67px;
}
.review-box-wrap {
    display: inline-block;
}
.profile-detail {
    float: left;
}
.profile-search .therapist-pro {
    width: 100%;
    float: left;
    margin: 20px 0px;
}
.review-box {
    color: #656565;
    width: 100%;
    font-size: 12px;
    padding: 0px 0px;
}
.bt-top {
    border-top: 0px;
    padding-right: 0;
    text-align: justify;
}
.btn-load a {
    width: 49%;
}
.right-profile .img-profile img {
  
    width: 27%;
    margin-bottom: 30px;
}
/***************SERACH PROFILE END********************/
        .search-banner {
            width: 100%;
        }
        .responsive-table {
            overflow-x: scroll;
        }
        .home .about-area {
            background-position: initial !important;
            background-repeat: no-repeat !important;
            background-size: contain !important;
        }
        .home body{
        text-align: center;
    }
    .home h1 {
        font-size: 29px;
    }
    .home .bg-img {
        width: 64% !important;
    }
    .home .banner-form select#inputGroupSelect04 {
        width: 100%;
        height: 55px
    }
    
    .home .banner-form button.btn.btn-outline-secondary {
        margin: auto;
        left: 90px;
        width: 160px;
        margin-top: 10px;
    }
    .home .banner-form .input-group {
        height: 202px;
    }
    .home .menu-sec{
        display: none !important;
    }
    .home button.owl-next {
        right: 12px;
    }
    .home button.owl-prev {
        left: 16px;
    }
    .home .about-area img {
        width: 100%;
        float: none;
    }
    .home .testimonial-area.text-center {
        padding: 70px 0px;
    }
    .home .testimonial-area img {
        width: 26%;
    }
    .home h3 {
        font-size: 25px;
    }
    .home .newsletter-area {
        max-width: 92%;
      padding: 21px 20px 58px 20px;
        height: auto;
    }
    .home .newsletter-area h3 {
        font-size: 25px;
        margin-bottom: 22px;
    }
    .home .newsletter-area input#exampleFormControlInput1 {
        width: 79%;
    }
    .home .coming-form button#button-addon2 {
        margin-top: 11px;
        padding: 10px 10px;
    }
    .home .col {
        flex: initial;
    }
    .home .footer-area {
        text-align: left !important;
        padding: 230px 20px 20px 20px;
    }
    .home .footer-widget h6 {
        margin-top: 50px;
    }
    .home .footer-bottom {
        max-width: 100%;
    }
    .home .footer-bottom ul {
        text-align: center;
    }
    .home .footer-bottom .copyright-area p {
        text-align: center;
        margin-bottom: 20px;
    }
    .home .footer-widget .logo img {
        margin: 0 auto;
        max-width: 99%;
        width: 54%;
    }
    .home .social-area-icon img {
        width: 11%;
        height: 42px;
    }
    /***********SEARCH PROVIDER*******************/
     .search-area p {
        padding: 30px 10px;
    }
     .search-area  select#inputGroupSelect04 {
        width: 100%;
    
    }
    .search-boxs form {
   
     box-shadow: inherit; 
    width: 100%;
    height: 45px;
}
  .search-boxs button.btn.btn-outline-secondary {
    margin: 0 !important;
    width: auto;
    left: 0 !important;
}
  .search-boxs button.btn.btn-clear {
    margin-left: 30px !important;
}
    .search-area #code {
    width: 81% !important;
}
    
     .search-area .input-group {
        height: 180px !important;
        padding-bottom: 20px !important;
       padding: 10px 10px 20px 10px !important;
    }
    .search-boxs button.btn.btn-outline-secondary {
    width: auto !important;
}
    

    /*.search-area span#addon-wrapping {
        border: 1px solid #0000001C;
        height: 44px;
    }*/
    .detail-search {
        display: block;
        padding: 20px 20px;
        margin: 12px 20px;
    }
    .search-content img {
    width: 68px !important;
    text-align: left !important;
    margin: 0;
}
.tick-img img {
    width: 20px !important;
    margin: 0 !important;
    left: 0;
}
.tick-img {
    margin: 0;
    float: left;
    margin-right: 10px !important;
}
   .img-pro {
        width: 100%;
    }
    .search-content {
        padding: 0;
        width: auto;
    }
    
   .search-content ul {
        display: flow-root;
        margin: 10px;
        margin: 0px;
    }
     .search-content p {
        padding-right: 0;
    }
    .search-btn {
        width: 100%;
    }
     .detail-search img {
        width: 46%;
        margin-bottom: 11px;
    }
    .tick-img {
        width: 7%;
        margin-right: 0;
        margin: 0 auto;
    }
    /* *******ERROR PAGE********** */
    .home .error-section img {
        width: 100%;
    }
    .home .error-section p {
    
        max-width: 100%;
    }
    .home .home-footer {
        padding-top: 60px !IMPORTANT;
    }
}
@media only screen (max-device-width: 1366px) {


  }
/* *******HOME PAGE START********* */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) {
    .profile-image p {
    
    text-align: left;
}
.upload-icon {
    right: 24%;
    top: 67px;
}

    .search-boxs input {
    border: none;
    max-width: 415px !important;
}
/*********Provider detail popup************/

.btn-int a {
  
    padding: 5% 24%;
}
/*********Provider detail popup END************/

    .provider-footer p {
        font-size: 13px;
    }

    .home .nav-right-part {
        background-color: #fff0 !important;
    width: auto !important;
    }
}


