@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.toggle-btn {
    display: block;
}
.resposive .dashboard-right-area {
    width: calc(100% - 63px);
    left: 77px;
}
.num-img {
    position: absolute;
    right: 0;
    top: -7px;
}
.value-box img {
    width: 25%;
    margin-right: 11px;
}
.value-box h5 {
    font-size: 18px;
    margin-bottom: 2px;
}
.value-box {
    padding: 12px 12px;
}
.dashboard-left-area.bg-gray {
    width: 0px;
}
.dashboard-right-area {
    width: calc(100% - -3px);
        left: 0;
}
.register-form {
    max-width: 90%;
}
form {
    padding: 20px;
}
.small-box {
    max-width: 71%
}
.profile-image {
    padding-left: 4px;
 }
 .upload-icon {
    position: relative;
    right: -116px;
    top: -35px;
}
.profile-image p {
    padding-top: 0;
}
.round-img {
    width: 22%;
}

.first-box img {
    margin-right: 2px;
    width: 52%;
    margin-bottom: 5px;
}
.first-box {
   
    line-height: 19px;
    font-size: 13px;
}
.layou-search input {
    width: 79%;
}
.layou-calen h6 {
    font-size: 10px;
}
.chat-box {
    padding: 0px 30px !important;
}
.header-bud li {
    margin-left: 6px;
        font-size: 15px;
}
.messages-box .rounded-circle {
   
    height: 41px;
    width: 42px;
    margin-right: 6px;
}
.messages-box h6.mb-0 {
    font-size: 14px;
}
.indox-wrap .layou-search input {
    width: 85%;
}
.bin-img {
    height: 16px;
    width: 15px;
}
.messages-box p {
    font-size: 12px;
    line-height: 16px;
}

.box-chat-detail {
    height: 100vh;
}

}


@media only screen and (max-width: 767px) {
.toggle-btn {
    display: block;
}
.resposive .dashboard-left-area.bg-gray {
    width: 0px;
}
.resposive .dashboard-right-area {
    width: calc(100% - 0px);
    left: 0;
}
.num-img {
    position: absolute;
    right: -4px;
    top: -5px;
}

/********PROVIDER DASHBOARD START***********/
#provider-dash .value {
    display: block;
}
#provider-dash .value-box {
   margin-right: 0;
    margin-bottom: 31px;
}
#provider-dash .btn-pro {
    float: none;
    margin-top: 20px;
}
.provider-footer li {
    float: none;
}
.img-profile img {
    margin-right: 0;
    margin-bottom: 10px;
}
.profile-image {
    padding-left: 50px;
    position: relative;
    padding-top: 30px;
}
.bio-para p {
    padding: 0;
}
.round-img {
    width: 20%;
}

/********PROVIDER DASHBOARD END***********/

.register-form {
    margin: 0 auto !important;
    max-width: 100%;
}
.massage .form-select {
    width: 100%;
}
.small-box {
    margin: 0 auto !important;
    max-width: 93%;
}
.box-wrap {
    padding: 30px;
    margin-top: 16%;

}
.small-box form {
    padding: 30px;

}
.box-top {
    padding: 14px 12px 0px 14px;
}
.frogot-pass {
    float: left;
    padding-bottom: 30px;
}
.hed-pro h2 {
    font-size: 16px;
     margin: 0px;
    position: relative;
    top: 32px;
}
.confirmation-inner input {
    width: 46px;
}
}