@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*GENERAL CSS*/

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
     font-family: 'Graphik';
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
    color: #fff;
    background-color: #FFF;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 0px;
}



a{
  color: #fff;
  text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
     color: #4e0e29;
}

button:focus {
    cursor: pointer;
    outline: none;
}
.btn-menu:hover {
    background: transparent !important;
    border: 1px solid #bf922c;
    color: #bf922c;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 44px;
}

h4 {
    font-size: 24px;
    color: #4F0E29;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    color: #fff;
    font-family: 'Graphik';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
}
.btn-menu {
    padding: 13px 24px;
    background: transparent linear-gradient( 
270deg
 , #D0A64C 0%, #BF922C 100%) 0% 0% no-repeat padding-box;
    line-height: 47px;
}
.btn-menu  span {
    margin-left: 10px;
}
.bg-gray {
    background-color: #F6F6F6;
}

/*****************DASHBOARD  lay out START*******************/
#wrapper {
    display: flex;
    flex-flow: column;
}
#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.sidebar {
    min-height: 100vh;
        padding: 30px;
    background-color: #F6F6F6;
    
}
.nav .active img {
    filter: brightness(3.1);
}
nav.right-side {
    padding: 10px 25px;
    background-color: #F6F6F6;
}
.right-side span {
    color: #707070;
    font-size: 11px;
}
.navbar-nav .nav-link {
   padding: 6px 20px 3px 20px !important;
   text-align: left;
}
.right-side .nav-link.dropdown-toggle.text-right {
    text-align: right;
    color: #1E1E1E;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}
.not-img {
    margin-top: 16px;
    margin-right: 15px;
    position: relative;
}
.num-img {
    position: absolute;
    right: -4px;
    top: -8px;
}

.dashboard-pannel .footer-bottom {
    /* margin-top: 40px; */
    padding: 15px 0px 15px 0px !important;
    background-color: #F6F6F6;
    border-top: 1px solid #c7c4c4;
}
.toggle-btn .fas.fa-bars {
    color: #c1942f;
    background-color: #4f0e29c9;
    padding: 10px;
    border-radius: 5px;
}
.dashboard-left-area.bg-gray {
    width: 270px;
    height: 100%;
    position: fixed;
    transition: 0.5s;
    overflow: hidden;
    border-right: 1px solid #a1a1a138;
        padding: 0 !important;
}
.resposive .dashboard-left-area.bg-gray{

    width: 80px;
}
.normal-dash .dashboard-left-area.bg-gray {
    width: 270px;
}
.toggle-btn {
    display: none;
}

.resposive .dashboard-right-area {
    width: calc(100% - 63px);
    left: 79px;
}
.resposive .dashboard-left-area ul li:nth-child(1) {
    margin: 40px -19px;
}
.resposive .dashboard-left-area ul li a .icon {
  min-width: 23px;
    height: 37px;
    padding-top: 17px !important;
    margin-right: 29px;
    margin-left: -6px;
}
.resposive .dashboard-left-area ul li a {
    padding: 0px 16px;
}
.resposive .dashboard-left-area ul li:nth-child(1) {
  padding: 0px 4px;
}
.dashboard-right-area {
    position: absolute;
    width: calc(100% - 240px);
    left: 258px;
    background-color: #fff;
    transition: 0.5s;
    padding: 0;
}

.toggle-btn{
    position: absolute;
    top: 26px;
    color: #000;
}

.dashboard-left-area ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px 20px;
}
.dashboard-left-area ul li {
 position: relative;
 width: 100%;
 list-style: none;

}
.dashboard-left-area ul li:hover {
 background: transparent linear-gradient(270deg, #D0A64C 0%, #BF922C 100%) 0% 0% no-repeat padding-box;
}
.dashboard-left-area ul li:nth-child(1) {
    margin: 40px 0px;
    background-color: transparent;
    pointer-events: none;
    
}
.dashboard-left-area ul li a {
 position: relative;
 width: 100%;
 display: block;
 display: flex;
 text-decoration: none;
 color: #000;
     padding: 0px 20px;
}
.dashboard-left-area ul li:hover a {
    color: white;
}
.dashboard-left-area ul li:hover .icon {
    filter: brightness(12.5);
}
.dashboard-left-area ul li a .icon {
    position: relative;
    display: block;
    min-width: 18px;
    height: 41px;
    text-align: center;
    padding-top: 20px;
}
.dashboard-left-area ul li a .title {
    position: relative;
    display: block;
    padding: 0px 10px;
    height: 60px;
    line-height: 63px;
}
/*****************DASHBOARD layout END*******************/

/****************INBOX LAYOUT DASHBOARD START******************/
.indox-wrap {
    background: #fff;
}
.bg-light {
    background-color: #F3F3F3 !important;
}
.indox-wrap .bg-white {
    background-color: #f3f3f3!important;
}
.indox-wrap .chat-box {
    background-color: #fff !important;
}
.indox-wrap .layou-search input {
    background-color: transparent;
    width: 92%;
}
.messages-box{
    padding: 0px;
}
.messages-box .media {
    display: flex;
  padding: 10px 25px;
}
.messages-box h6.mb-0 {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
.media-body.ml-4 {
    width: 100%;
}
.list-group-item{
    padding: 0 !important;
}
.messages-box .rounded-circle {
    position: relative;
    top: -3px;
    height: 58px;
    width: 58px;
    margin-right: 20px;
}
.messages-box small {
    font-size: 12px;
    color: #606060;
    font-weight: 600;
}
.bin-img {
    height: 25px;
    width: 21px;
}
.messages-box p {
    color: #606060;
}
.list-group-item.active {
    z-index: 2;
    color: #000;
    background-color: #F3F3F3;
    border-color: #F3F3F3;
}
.bd-bord {
    border-top: 1px solid #E2E2E2;
}
.chat-box-header ul {
    display: flex;
}
.chat-box-header li {
    color: red;
    /* display: flex; */
}

.header-bud {
    justify-content: end;
    display: flex;
}
.title-head li {
    margin-right: 34px;
}
.header-bud li {
    margin-left: 15px;
    color: #7C7C7C;
}
.title-head a {

    color: #A1A1A1;
    font-size: 16px;
}
.chat-box-header {
    padding: 20px 30px 20px 20px;
}
.title-head li:hover a {
    color: #4F0E29;
    font-weight: 600;
    border-bottom: 2px solid #CEA348;
    padding-bottom: 14px;
}
.num-green {
    color: #2DB674 !important;
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
}
.chat-box {
    padding: 0px 110px !important;
}
.text-small {
  font-size: 0.9rem;
}

.messages-box {
    height: 110vh;
    overflow-y: scroll;
}
.box-chat-detail{
       height: 95vh;
    overflow-y: scroll;
}
.indox-wrap form {
    margin-top: 0;
    padding: 3px 30px;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}
.input-group-append img {
    position: absolute;
    right: 67px;
    top: 8px;
    width: 17px;
    height: 17px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}
.ml-auto {
    margin-left: auto;
}


.detail-chat h6{
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 700;
    margin-left: 18px;
    position: relative;
    top: 13px;
}
.detail-chat .media-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E2E2E2;
    padding: 20px 0px;
    margin-bottom: 30px;
}
.detail-chat .dropdown-item {
    padding: 10px 11px;
}
.detail-chat .small {
    text-align: right;
    color: #6B7B84 !important;
    font-weight: 600;
}

.reciver-box {
    background-color: #D4EFFF;
    padding: 25px !important;
}
.reciver-box p, .sender-box  p{
   color: #1E1E1E !important;
    font-size: 14px !important;
    line-height: 25px;
}
.detail-chat .input-group {
    border: 1px solid #E2E2E2;
    border-radius: 161px;
    padding: 2px;
    margin: 0px 15px;
    width: 752px;
}
.detail-chat form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 25px;
}
.detail-chat  .input-group-append {
    position: absolute;
    right: -45px;
    top: 8px;
}
.detail-chat  input {
    border: none;
    background-color: transparent;
}
.detail-chat  .form-control:focus {
    background: transparent;
}
.detail-chat i.fa.fa-paper-plane {
    color: #48D1C7;
}
/****************INBOX LAYOUT DASHBOARD START******************/


/*********PROVIDER DASHBOARD START************/

.value {
    display: flex;
}
.value-box {
   
    padding: 16px 20px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 28px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 40px #00000012;
}
.value-box h5 {
    font-size: 30px;
    color: #CEA348;
    font-family: 'Graphik';
    font-weight: 600;
}

.value-box p {
    font-size: 15px;
    color: #141414;
    line-height: 19px;
    margin: 0;
}
.value-box img {
    width: 30%;
    margin-right: 20px;
}
#provider-dash {
    padding: 30px 28px;
}
#provider-dash .middle-bar {
    border-bottom: 0;
    padding-bottom: 0;
        margin-top: 33px;
}
.btn-pro {
    float: right;
}
.btn-pro .btn-menu {
    border-radius: 5px;
}
#provider-dash .card.shadow.mb-4 {
    border: none;
    margin-top: 15px;
}
.detail-btn a {
    color: #CEA348;
    font-size: 14px;
    font-weight: 600;
}

/*********PROVIDER DASHBOARD END************/


/*************PROVIDER PROFILE PAGE******************************/
.title-bar {
    padding: 20px 30px;
    background-color: #fff;
    border-bottom: 1px solid #c7c4c4;
}
#provider-profile h3 {
    font-size: 28px;
    color: #4F0E29;
    width: 93%;
    font-family: 'Graphik';
    font-weight: 600;
}
#provider-profile .name-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 70px;
}
#provider-profile span {
    color: #A1A1A1;
    font-size: 16px;
    display: inline-block;
    vertical-align: sub;
}
#provider-profile .detail-box {
    padding: 50px 30px 80px 30px;
}
.info p {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
        margin-bottom: 3px;
}
.info {
    border-bottom: 2px solid #c7c4c4;
}
.pro-data li {
    display: flex;
    border-bottom: 1px solid #c7c4c4;
    padding: 25px 0px;
}
.pro-data h3 {
    color: #7C7C7C !important;
        width: 156px !important;
    font-size: 16px !important;
    margin: 0px;
    line-height: 34px;
}
.pro-data p {
    margin: 0px;
    color: #4F0E29;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}
.pro-data {
    margin-bottom: 65px;
}
.blue-info {
    color: #0969D6 !important;
    font-weight: 500 !important;
    padding-left: 19px;
}
.blue-info img {
    vertical-align: inherit;
}
.cont-info {
    width: 11%;
    text-align: right;
}
.bio-para p {
    color: #7C7C7C;
    font-weight: 400;
    padding-right: 80px;
}
.bio-para {
    border-bottom: 1px solid #c7c4c4;
}
.bio-para li {
    padding: 35px 0px;
}
.img-profile {
    padding: 20px 0px 40px 0px;
    border-bottom: 1px solid #c7c4c4;
}
.img-profile img {
    margin-right: 11px;
}
.profile-image img {
    border-radius: 100%;
    box-shadow: 0px 10px 30px #0000001A;
}
.upload-icon {
    position: relative;
    right: 70px;
    top: 74px;
}
.profile-image p {
    color: #606060;
    font-size: 14px;
    font-weight: 600;
    padding-top: 24px;
}

.round-img{
    border-radius: 100%;
   box-shadow: 0px 10px 30px #0000001A !important;
   width: 12%;
    margin-right: 13px;
}
.profile-image {
    padding-left: 50px;
    position: relative;
}
/*****************PROVIDER PROFILE END*****************************/


/*************ADMIN PROVIDER LIST START**********************/
.pro-calender form {
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #7c7c7c70;
}
.layou-calen {
    display: flex;
    justify-content: end;
    border: 1px solid #7c7c7c70;
    padding: 10px 10px 10px 10px;
}
.layou-calen h6 {
    font-size: 16px;
    color: #212121;
    font-family: 'Graphik';
    margin: 0px 10px;
    line-height: 20px;
}.layou-calen .fas.fa-sort-down {
    color: #606060;
}
.middle-bar {
    border-bottom: 1px solid #7c7c7c70;
    padding-bottom: 21px;
}
.detail-box {
    padding: 20px 28px;
    border-bottom: 1px solid #7c7c7c70;
    background-color: #fff;
}
.hed-pro h2 {
    font-size: 20px;
    color: #4F0E29;
    font-family: 'Graphik';
    font-weight: 600;
    margin: 0px;
}
.layou-search input {
    border: none;
    width: 87%;
    padding: 8px;
}
.layou-search button {
    border: none;
    background-color: transparent;
}
.layou-search .fa.fa-search {
    color: #707070;
}
.layou-search input:focus-visible {
    border: none;
    outline: none;
}
.provider-table .card-body {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    border: none !important;
    padding: 0;
}

th {
    padding: 15px 20px !important;
    border: none;
}
td {
    padding: 15px 20px !important;
     line-height: 41px;
     color: #606060;
    
}


.card.shadow.mb-4 {
    border: none;
    margin-top: 33px;
}
.first-box img {
    margin-right: 11px;
        width: 26%;
}
.first-box {
    font-weight: 600;
    color: #000;
}
.provider-table button#dropdownMenuButton1 {
    background-color: transparent;
    border-color: #B7B7B7;
    color: #000;
    border-radius: 1px;
}
.provider-table button.btn.btn-danger.dropdown-toggle {
    background: #2DB6741A 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 1px;
    color: #2DB674;
    font-size: 14px;
}
.provider-table button.btn.btn-danger:focus{
    box-shadow: 0 0 0 0.25rem rgb(83 225 146 / 72%);
}
.dropdown-item {
    padding: 0px 11px;
    color: #000000;
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.dropdown-menu.show {
    padding: 0;
}
  .btn:focus{
    box-shadow: none;
  }
  .dot-btn {
    padding-left: 25px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #4F0E29;
    font-weight: 700;
    background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E0E0E0; 
  border-radius: 10px;
}

/*************ADMIN PROVIDER LIST END**********************/


/*****************DASHBOARD END*******************/


/*----------------------------------------------
    # Nav bar 
----------------------------------------------*/
.main-logo img {
    width: 100%;
}
.logo {
    display: flex;
}
.navbar-area {
    background: #fff;
    box-shadow: 0px 3px 6px #00000017;
    opacity: 1;
    padding: 15px;
}
option:hover{
    background-color: #4F0E29 !important;
}
option {
    width: 40%;
    background-color: #CEA348;
    color: #fff;
}
.form-control {
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    height: 45px;
    color: #4F0E29;
    font-size: 15px;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #4F0E29;
    outline: 0;
    box-shadow: none;
}
.form-select:focus{
   color: #212529;
    background-color: #fff;
    border-color: #4F0E29;
    outline: 0;
    box-shadow: none;
}
.form-label {
    background-color: #fff;
    position: relative;
    top: 20px;
    left: 15px;
    font-size: 14px;
    color: #7C7C7C;
}
.form-select {
    height: 47px;
}
.select-box .form-select {
   border-radius: 0;
    border: none;
}
.form-select {
    height: 47px;
    color: #4F0E29;
    font-size: 15px;
}
.border-field {
    overflow: hidden;
    padding: 0px 14px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    height: 45px;

}
form p {
    color: #606060;
    font-size: 14px;
    position: relative;
    top: 40px;
}
.massage .form-select {
   
    width: 45%;
    float: right;
    border-color: #CEA348;
    margin-top: 27px;
}
.box-des {
    padding: 25px 20px 16px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    color: #4F0E29;
    font-size: 15px;
}
.form-check-label {
    font-size: 14px;
    color: #4F0E29;
    font-weight: 600;
}
.intro-para {
    position: initial;
    font-size: 12px;
    color: #4F0E29;
    font-weight: 600;
    margin-top: 35px;
}
.intro-para span {
    color: #CEA348;
}
form button.btn.btn-primary {
    width: 100%;
    background: transparent linear-gradient(
270deg
, #D0A64C 0%, #BF922C 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    height: 50px;
    color: #fff;
    font-size: 16px;
}
form{
  box-shadow: 0px 10px 30px #00000015;
    border: 1px solid #E0E0E0;
    opacity: 1;
    margin-top: 15%;
    padding: 30px;
}

.box-wrap{
    box-shadow: 0px 10px 30px #00000015;
    border: 1px solid #E0E0E0;
    opacity: 1;
    margin-top: 9%;
    padding: 40px;
    text-align: center;
}
.small-box{
 margin: 0 auto !important;
    max-width: 560px;
    height: 100vh;
}
.small-box h2{
  color: #4F0E29;
    font-size: 30px;
 }
 .small-box form {
    padding: 40px;
    margin-top: 10%;
}
.small-box form p{
    top: 0;
    color: #4F0E29;
    font-size: 12px;
    line-height: 19px;
    padding: 20px 0px;
    margin: 0;
    font-weight: 600;
}

/********Varification FORM**********/

.confirmation-inner input {
    margin-right: 16px;
    height: 80px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #B7B7B7;
    display: inline-block;
    width: 49px;
}
.confirmation-inner input:nth-child(1) {
    padding-left: 30px;
}
.confirmation-inner form {
    box-shadow: none;
    border: 0;
    opacity: 1;
    margin-top: 0 !important;
    padding: 0px !important;
    max-width: 275px;
    margin: 0 auto;
}
.confirmation-inner .btn.btn-primary {
    width: 100%;
    background: transparent linear-gradient( 
270deg
 , #D0A64C 0%, #BF922C 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    height: 50px;
    color: #fff;
    font-size: 16px;
    margin: 0 auto;
    max-width: 260px;
    margin-top: 35px;
}
 .confirmation-inner p {
    color: #606060;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0px;
}
 .confirmation-inner a {
    color: #CEA348;
    text-decoration: none;
    font-size: 14px;
}
/********Varification END**********/


/********REGISTER FORM**********/
.register-form {
    margin: 0 auto !important;
    max-width: 56%;
}
.login-para {
    margin-top: 23px;
}
.login-para p {
    color: #4F0E29;
    font-size: 16px;
}
.login-para a {
    color: #CEA348;
    padding-left: 10px;
}

.register-form h2 {
    color: #4F0E29;
    font-size: 30px;
}


/***********REQUEST PAGE****************/

.box-wrap h3 {
    font-size: 30px;
    color: #4F0E29;
    margin-bottom: 30px;
}
.box-wrap p{
    color: #4F0E29;
    font-size: 14px;
}
.box-wrap img {
    margin-bottom: 30px
}


/************* LOGIN PAGE***************/
.frogot-pass {
    text-align: right;
    color: #CEA348;
    font-size: 14px;
    float: right;
}
.box-top {
    padding: 16px 12px 30px 14px;
}





/*************FOOTER START*****************/
.provider-footer li {
    display: inline-block;
    padding: 5px;
    float: right;
}
.provider-footer p {
    color: #A1A1A1;
    font-size: 14px;
    margin: 0;
}
.provider-footer img {
    width: 92%;
}
.provider-footer .footer-bottom {
    /* margin-top: 40px; */
    padding: 40px 0px 20px 0px;
}


