@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

h1 {
    font-size: 29px;
}
.menu-sec{
    display: none !important;
}
.newsletter-area {
    padding: 30px;
    max-width: 84%;
}
.newsletter-area h3 {
    font-size: 38px;
        margin-bottom: 25px;
}
.footer-widget .logo img {
    width: 88%;
}
.footer-widget a {
    font-size: 13px;
}
.footer-widget h6 {
    margin-bottom: 14px;
    font-size: 16px;
}
.nav-right-part {
    background-color: #000;
    width: 100%;
    margin: 0;
}
.navbar-nav.menu-open {
    padding: 20px;
}
.current-menu-item.menu-item-has-children {
    margin-left: 0;
}
  .nav-right-part .btn {
    font-size: 13px;
    padding: 0 10px;
  }

  .responsive-mobile-menu {
    right: 6px;
    top: 19px;
  }
}


@media only screen and (max-width: 767px) {
body{
    text-align: center;
}
h1 {
    font-size: 29px;
}
.bg-img {
    width: 64% !important;
}
.banner-form select#inputGroupSelect04 {
    width: 100%;
    height: 55px
}
input#code {
    width: 57%;
    height: 46px;
}
.banner-form button.btn.btn-outline-secondary {
    margin: auto;
    left: 90px;
    width: 160px;
    margin-top: 10px;
}
.banner-form .input-group {
    height: 159px;
}
.menu-sec{
    display: none !important;
}
button.owl-next {
    right: 12px;
}
button.owl-prev {
    left: 16px;
}
.about-area img {
    width: 100%;
    float: none;
}
.testimonial-area.text-center {
    padding: 70px 0px;
}
.testimonial-area img {
    width: 26%;
}
h3 {
    font-size: 25px;
}
.newsletter-area {
    max-width: 92%;
  padding: 21px 20px 38px 20px;
    height: auto;
}
.newsletter-area h3 {
    font-size: 25px;
    margin-bottom: 22px;
}
.newsletter-area input#exampleFormControlInput1 {
    width: 79%;
}
.coming-form button#button-addon2 {
    margin-top: 0;
    padding: 10px 10px;
}
.col {
    flex: initial;
}
.footer-area {
    text-align: left !important;
    padding: 230px 20px 20px 20px;
}
.footer-widget h6 {
    margin-top: 50px;
}
.footer-bottom {
    max-width: 100%;
}
.footer-bottom ul {
    text-align: center;
}
.footer-bottom .copyright-area p {
    text-align: center;
    margin-bottom: 20px;
}
.footer-widget .logo img {
    margin: 0 auto;
    max-width: 99%;
    width: 54%;
}
.social-area-icon img {
    width: 10%;

}

}